@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

<div class="mt-4">
    <a href="/Projects" class="btn btn-primary me-2">Go to Projects</a>
    <a href="/Projects/Create" class="btn btn-primary me-2">Create projects</a>
    <a href="/Employees" class="btn btn-primary me-2">Go to Employees</a>
    <a href="/Employees/Create" class="btn btn-primary">Create an Employee</a>
</div>

    
</div>
